.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.locked_element {
  display: flex;
  align-items: center;
}

.constructor_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100vh - 420px);
  margin: 16px 0;
  padding: 0;
  overflow-y: scroll;
  list-style-type: none;
}

.constructor_item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 536px;
  min-height: 80px;
  padding: 16px 24px;
  color: #8585ad;
  background: #2f2f37;
  border-radius: 40px;
}

.placeholder_top {
  border-radius: 88px 88px 40px 40px;
}

.placeholder_bottom {
  border-radius: 40px 40px 88px 88px;
}
